@charset "utf-8";
/* CSS Document */
body{
	overflow-y:scroll;
	
	
}

.popup-position{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	
}

#popup-wrapper{
	width:500px ;
	margin:70px auto;
	text-align:justify;
	
}

#popup-container{ 
	background-color:#CCC;
	padding:20px ;
	border-radius:4px;
	
}
#header{
	background-color:#231f20;
}
.header_text{
	color:#FFF;
	}
#sidebarnav{
	background-color:#5A6F8E;
}
#shoppingcart{
	margin-left:400px;
	
	}